@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@layer base {
  * {
    @apply font-['Raleway'];
  }
  h1 {
    @apply text-4xl font-bold;
  }
  li {
    @apply px-4;
    transition: 0.25s;
  }
  li:hover {
    cursor: pointer;
  }
  li.mobile-nav-li {
    padding: 10px 0;
  }
  li.mobile-nav-li:hover {
    background-color: rgba(
      var(--sub-color-r, 93),
      var(--sub-color-g, 103),
      var(--sub-color-b, 124),
      0.6
    );
  }
  button {
    @apply bg-gradient-to-r from-[var(--sub-color)] to-[var(--main-green)] py-1.5 px-5 rounded-3xl font-medium;
  }
}

:root {
  --main-green: #10b981;
  --sub-color: #5d677c;
  --nav-bg: #0f172a;
  --f6-color: #f6f6f6;
}
