@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@layer base {
  * {
    @apply font-['Raleway'];
  }
  h1 {
    @apply max-sm:text-3xl max-md:text-4xl text-4xl font-bold;
  }
  li {
    @apply px-4;
    transition: 0.25s;
  }
  li:hover {
    cursor: pointer;
  }
  li.mobile-nav-li {
    padding: 10px 0;
  }
  li.mobile-nav-li:hover {
    background-color: rgba(
      var(--sub-color-r, 93),
      var(--sub-color-g, 103),
      var(--sub-color-b, 124),
      0.6
    );
  }
  button {
    @apply bg-gradient-to-r from-[var(--sub-color)] to-[var(--main-green)] py-1.5 px-7 rounded-3xl font-medium;
  }
  button:hover {
    @apply bg-gradient-to-r from-[var(--main-green)] to-[var(--sub-color)];
  }
}

:root {
  --main-green: #10b981;
  --sub-color: #5d677c;
  --nav-bg: #0f172a;
  --f6-color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

.main-word-text-shadow {
  text-shadow: 4px 4px 3px #225b49;
}

@media (max-width: 395px) {
  .community-h3 {
    line-height: 1.5;
  }
  .community-form-first {
    flex-direction: column;
  }
  .community-input-first {
    padding: 5px 10px;
  }
  .copyright {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-flex-col-big {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .footer-flex-col-small {
    flex-direction: column;
    gap: 25px;
  }
  .float-left-content {
    display: none;
  }
}
